INDEX


<form action='/search/relocate/' method='post'>
  <b>Location</b><br />
  <input type='text' name='region' placeholder='Location' class='searchbox__region' id='region_search' value='' />
</form>

<script>
  $(function() {
    $("#region_search").autocomplete({
      source: "/search/locations",
      minLength: 2
    });
  });
</script>